<html>
    <head>
        <title>Speak Your Mind</title>
        <h1>Speak Your Mind</h1>
        Too often in life we feel as though we cannot speak our mind. Speak Your Mind allows you to share what you are feeling with the world without any fear
        of the thought being linked back to you.
    </head>
    <body>
        <div class="component">
            <div class="post-field">
                <textarea style="width:200px;height300px" id="text" maxlength=255 placeholder="What's on your mind?"></textarea> <br/> <input type="submit" value="Submit" onClick="submit()">
            </div>
            </div>
            <div class="component">
        </div>
    </body>
</html>
