{% extends "base.html" %}
{% block title %} Find a Dev {% endblock %}
{% block body %}
    <div class="container">
        <div class="section">
            <div class="big-image">
                <div class="text">
                    <h1>Find a Dev</h1>
                    <h3>The site where employeers find you</h3>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="about-info">
                <div class="about-block">
                    <div class="icon">ICON</div>
                    <div class="text">
                        Simple questionnaire to see what your business needs
                    </div>
                </div>
                <div class="about-block">
                    <div class="icon">ICON</div>
                    <div class="text">
                        Talented developers from all different diciplines
                    </div>
                </div>
                <div class="about-block">
                    <div class="icon">ICON</div>
                    <div class="text">
                        Find talent faster than ever
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="start-button">
                <a href="/question/1">Find a Dev</a>
            </div>
        </div>
    </div>
{% endblock %}
